[Desktop Entry]
Version=1.0
Type=Application
Name=Shastra Maint Tool
Comment=ShastraManager tool
Categories=System;
Keywords=System;
Exec=pkexec /usr/local/bin/ShastraManager
Icon=/usr/share/icons/default/shastramanager.png
Path=/usr/local/bin
Terminal=true
StartupNotify=false
Name=Shastra Manager